.popup {
    position: fixed;
    z-index: 10;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
    .popup-data {
        position: relative;
        background-color: $white-background;
        margin: auto;
        border: 1px solid $border-color;
        width: 33%;
        padding: 22px;
        @include cardShadow();
        .popup-header {
            padding-bottom: 12px;
            margin-bottom: 12px;
            color:$primary-text;
            border-bottom: 1px solid $border-color;
            display: flex;
            display: -webkit-flex;
            justify-content: space-between;
            align-items: center;
            span{
                cursor: pointer;
            }
        }
        .popup-content {
        }
        .popup-footer {
        }
    }
}

