.app-header{
	background:$white-background;
    border-bottom: 1px solid $border-color;
    padding: 8px 0;
	header{
	    display: flex;
	    display: -webkit-flex;
	    justify-content: space-between;
	    align-items: center;
	    .left-menu{
	    	img{
	    		height: 36px;
	    	}
	    }
	    .right-menu{
	    	display: -webkit-flex;
    	    display: flex;
			justify-content: space-between;
    		align-items: center;
		    span{
		    	cursor: pointer;
		    	padding:4px;
			    font-size: 20px;
			    margin-left: 6px;
		    }
	    }
	}
}